# 核心依赖
Django>=4.2.0
django-jazzmin
mysqlclient
django-admin-rangefilter
django-resized
Pillow
django-import-export
python-dotenv

# 开发与调试工具
django-debug-toolbar==5.1.0

# 部署工具
whitenoise  # 静态文件处理
gunicorn    # WSGI服务器

# 可选依赖（根据需要取消注释）
# pymemcache  # Memcached缓存后端
# django-redis  # Redis缓存后端
# sentry-sdk  # 错误跟踪
# uwsgi  # 另一种WSGI服务器选项 
