{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content_title %}
    <h1>系统日志管理</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}"><i class="fas fa-home"></i> 首页</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='music' %}">Music</a>
    &rsaquo; <span class="current">系统日志管理</span>
</div>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %} 