{% extends "admin/auth/user/change_password.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/custom_admin.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}"><i class="fas fa-home"></i> {% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='auth' %}">{% trans 'Authentication and Authorization' %}</a>
    &rsaquo; <a href="{% url 'admin:auth_user_changelist' %}">{% trans 'Users' %}</a>
    &rsaquo; <a href="{% url 'admin:auth_user_change' original.pk %}">{{ original|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'Change password' %}
</div>
{% endblock %} 